*{
    box-sizing: border-box;
}

body
{
    display: flex;          /*coloca tudo em linha*/
    flex-direction: column; /*coloca tudo em coluna*/
    align-items: center;    /*alinha horizontalmente*/
    justify-content: center;/*alinha tudo verticalmente com uso de height:100vh*/
    height: 100vh;
    overflow: hidden; /*BARRA DE SCROLL DOWN, HIDDEN ESCONDIDA*/
    margin: 0;
    overflow-x: hidden; /*REMOVER BARRA DE SCROLL HORIZONTAL*/
}

.background {
    background: url('./img/2677518.jpg') no-repeat center center/cover;
    position: absolute;
    top: -20px;
    bottom: -20px;
    left: -20px;
    right: -20px;
    z-index: -1;
    filter: blur(20px);
}